/* .App {
  text-align: center;
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

} */

/* .container{
  background-color: rgb(53, 212, 138);
  width: max-content;
  height: 300px;
  border: black;
  border-radius: 2px;
  border-style: solid;
  
} */


.App-header {
 

 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.btn{
  font-family: 'Courier New', Courier, monospace;
}

.score-section{
background-color: rgb(207, 210, 214);
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

  .reset {
   margin-top: 50px;
   justify-content: center;
   align-items: baseline;
   border-style: dotted;
   }
   
   .btn-reset{
     display: flex;
     justify-content: center;
   }